@media (max-width: 1080px) {
    .wrapper {
    width: 960px;
    }
    .container{
    grid-template-columns: auto auto auto;
    }
    .header{
        width: 100%;
        flex-flow: column;
        align-items: center;
        margin-left: 0;
    }
    #container{
        height: 400px;
        width: 870px;
    }
    #container img{
        height: 400px;
        width: 800px;
    }
    #slider{
        height: 400px;
        width: 800px;
    }
    #slider li{
        height: 400px;
        width: 800px;
    }
}
@media (max-width: 960px) {
    .wrapper {
    width: 760px;
    }
    .container{
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .rectangle{
        width: 760px;
    }
    .rectangle i{
    font-size: 28px;
    margin-top: 2px;
    }
    .rectangle p{
        font-size: 18px;
        margin-top: 6px;
    }
    .rectangle-s{
    display: none;
    }
    .line hr{
        width: 150px;
    }
    #container{
        height: 300px;
        width: 670px;
    }
    #container img{
        height: 300px;
        width: 600px;
    }
    #slider{
        height: 300px;
        width: 600px;
    }
    #slider li{
        height: 300px;
        width: 600px;
    }
}
@media (max-width: 760px) {
    .wrapper {
    width: 480px;
    }
    .container{
        grid-template-columns: auto;
        justify-content: center;
    }
    .line hr{
        display: none;
    }
    .rectangle{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    background-image: none;
    color: white;
    }
    .rect1{
    background-image: url("../image/Rectangle1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 90px;
    }
    .rect2{
    background-image: url("../image/Rectangle2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 90px;
    }
    .rect3{
    background-image: url("../image/Rectangle3.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 90px;
    }
    .call{
        display: none;
    }
    #container{
        height: 200px;
        width: 400px;
    }
    #container img{
        height: 200px;
        width: 400px;
    }
    #slider{
        height: 200px;
        width: 400px;
    }
    #slider li{
        height: 200px;
        width: 400px;
    }
}
